#Options +FollowSymlinks
#RewriteEngine On
#
## deal with admin first
#RewriteCond %{REQUEST_URI} ^/yii2/(admin)
#RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
#RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
#RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
#RewriteRule ^admin/fonts/(.*)$ backend/web/fonts/$1 [L]
#RewriteRule ^admin/images/(.*)$ backend/web/images/$1 [L]
#
#RewriteCond %{REQUEST_URI} !^/yii2/backend/web/(assets|css|js)/  
#RewriteCond %{REQUEST_URI} ^/yii2/(admin)  
#RewriteRule ^.*$ backend/web/index.php [L]
#
#
#RewriteCond %{REQUEST_URI} ^/yii2/(assets|css)  
#RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
#RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
#
#RewriteCond %{REQUEST_URI} !^/yii2/(frontend|backend)/web/(assets|css)/  
#RewriteCond %{REQUEST_URI} !index.php
#RewriteCond %{REQUEST_FILENAME} !-f [OR]
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^.*$ frontend/web/index.php

Options +FollowSymlinks
RewriteEngine On

# deal with admin first
RewriteCond %{REQUEST_URI} ^/yii2/(admin)
RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^admin/themes/assets/css/(.*)$ backend/web/themes/assets/css/$1 [L]
RewriteRule ^admin/themes/admin/css/(.*)$ backend/web/themes/admin/css/$1 [L]
RewriteRule ^admin/themes/assets/js/(.*)$ backend/web/themes/assets/js/$1 [L]
RewriteRule ^admin/themes/admin/js/(.*)$ backend/web/themes/admin/js/$1 [L]
RewriteRule ^admin/themes/global/(.*)$ backend/web/themes/global/$1 [L]
RewriteRule ^admin/themes/fonts/(.*)$ backend/web/themes/fonts/$1 [L]
RewriteRule ^admin/themes/assets/images/(.*)$ backend/web/themes/assets/images/$1 [L]

RewriteCond %{REQUEST_URI} !^/yii2/backend/web/(assets|themes/assets/css|themes/assets/js|themes/global)/  
RewriteCond %{REQUEST_URI} ^/yii2/(admin)  
RewriteRule ^.*$ backend/web/index.php [L]


RewriteCond %{REQUEST_URI} ^/yii2/(assets|css|js)  
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]

RewriteCond %{REQUEST_URI} !^/yii2/(frontend|backend)/web/(assets|themes/css|themes/js)/  
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php